body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

.logo img {
 width: 90px;
 margin-left: 50px;
}

.nav-icons i {
    color: white;
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
}

.nav-icons {
    margin-right: 60px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.location-select {
    margin-top: 20px;
}

.location-select input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.location-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.location-list div {
    padding: 5px 0;
    cursor: pointer;
}

.location-list div:hover {
    background-color: #f0f0f0;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-btn,
.confirm-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.confirm-btn {
    background-color: black;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
    font-size: 14px;
    color: #888;
}

nav ul li:not(:last-child)::after {
    content: ">";
    margin-left: 10px;
}


.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}



.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.content1 {
    flex: 1;
    text-align: center;

}

.content1 h1 {
    font-size: 2em;
    font-weight: bold;
}

.content1 p {
    font-size: 1em;
    margin: 20px 0;
    line-height: 1.5;
}

.btn1 {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.btn1:hover {
    background-color: #333;
}

.images1 {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.images1 img {
    max-width: 100%;
    height: auto;
}

.img2{
    margin-right: 600px;
}


.container2 {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

}

.text-content {
    text-align: center;
    margin-bottom: 20px;
}

.text-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    margin-left: 700px;
}

.text-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-left: 350px;
}

.text-content p {
    font-size: 1em;
    line-height: 1.5;
    width: 1000px;
    margin-left: 150px;
}

.image-content {
    display: flex;
    justify-content: center;
}

.image-content img {
    max-width: 50%;
    height: auto;
    border-radius: 30px;
    margin-left: 370px;
}

.text-2{
    display: flex;
}


.container {
    color: black;
    background-color: white;
    text-align: center;
    width: 1521px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.perfume {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.perfume-image {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.details-button {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
}

.details-button:hover {
    background-color: #f0f0f0;
}

.perfume4{
    display: flex;
    margin-left: 200px;
    gap: 300px;
}

.chanel55{
   margin-top: 200px;
}

.parfume5{
    gap: 200px;
    display: flex;
    margin-left: 500px;
}




.box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
    width: 1481px;
    background-color: white;
    color: black;
}

.text-contento {
    max-width: 500px;
    margin-right: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

.add-to-cart-button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}

.add-to-cart-button:hover {
    background-color: #333333;
}

.image-contento img {
    max-width: 600px;
    height: auto;
    display: block;
}



.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
    font-size: 1em;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: white;
    text-decoration: none;
}
.footer-content img{
    width: 150px;
 
}